#results-language {
  text-align: center;
  font-weight: bolder;
  font-size: 69px;
}

#submit {
  border: 1px solid black;
  background-color: rgb(209, 209, 209);
  font-weight: bolder;
}

.radio {
  font-weight: bold;
  margin-top: 10px;
}

#sweetroll-label {
  font-family: serif;
  font-style: italic;
}

#surv-colour {
  width: 30%;
}

.jumbotron {
  text-align: center;
  background-color: rgba(0, 255, 255, 0.205);
  color: rgb(83, 83, 83)
}

.jumbotron h1 {
  font-family: serif;
  font-weight: bolder;
}

body {
  background-color: rgba(255, 105, 180, 0.24);
}

.gowron {
  background-image: url(../img/gowron.jpg);
  background-size: 200px 200px;
}

#results {
  display: none;
}

#surv-card {
  padding: 15px;
  background-color: rgb(244, 255, 219);
}

#results-p {
  text-align: center;
  margin: 5px;
}

.card-img-top {
  display: none;
}

.results-info {
  display: none;
}

.results-info h3 {
  text-align: center;
  font-style: italic;
}